<launch>
   <node name="emsgc_main" pkg="emsgc" type="emsgc_main" output="screen" required="true"
    args="/home/zhouyi/catkin_ws/src/EMSGC/calib/hkust_EMS/corridor
          /home/zhouyi/catkin_ws/src/EMSGC/cfg/hkust_EMS/corridor.yaml
          /home/zhouyi/workspace/dataset/DVS/hkust_EMS/corridor/events_filtered.txt
          /home/zhouyi/catkin_ws/src/EMSGC/result/hkust_EMS/corridor">
  </node>
</launch>