<launch>
  <node name="emsgc_main" pkg="emsgc" type="emsgc_main" output="screen" required="true"
    args="/home/zhouyi/catkin_ws/src/EMSGC/calib/EED
          /home/zhouyi/catkin_ws/src/EMSGC/cfg/EED/fast_drone.yaml
          /home/zhouyi/workspace/dataset/EMSGC_release/EED/fast_drone/events_filtered.txt
          /home/zhouyi/catkin_ws/src/EMSGC/result/EED/fast_drone">
  </node>
</launch>