<launch>
  <node name="emsgc_main" pkg="emsgc" type="emsgc_main" output="screen" required="true"
    args="/home/zhouyi/catkin_ws/src/EMSGC/calib/DistSurf
          /home/zhouyi/catkin_ws/src/EMSGC/cfg/DistSurf/car.yaml
          /home/zhouyi/workspace/dataset/EMSGC_release/DistSurf/car/events.txt
          /home/zhouyi/catkin_ws/src/EMSGC/result/DistSurf/car">
  </node>
</launch>